/*
Autores: Leandro Rizzo (354610), Mateo Laporta (354622)
Grupo: m1d
Obligatorio Programación 1 - 1er semestre 2025
*/

article {
    background-color: #00FF7F;
    padding: 1em;
    margin: 0.4em;
    border-radius: 15px;
}

section {
    background-color: #D5F4D4;
    padding: 1em;
    margin: 0.8em;
    border-radius: 15px;
}

footer {
    background-color: #F0F4D4;
    margin: 0.8em;
    padding: 1em;
    border-radius: 15px;
    text-align: center;
}

h1 {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 20vw;
}

/* Estructura de los <article> */
article * {
    display: block;
}

article .sin * {
    display: revert;
}

/* Tablas sin bordes globales */
table.sin {
    border-collapse: collapse;
    background-color: #00FF7F;
    width: auto;
    margin: 0 auto;
    border: none;
}

table.sin caption {
    font-weight: bold;
    padding-bottom: 5px;
}

table.sin th {
    border: 1px solid black;
    padding: 4px 10px;
    text-align: center;
}

/* Clases añadidas */
.fila {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-peq {
    width: 70px;
}
